target/
build/
.bloop/
.bsp/
project/project/
.metals
.cache
.cache-main
.classpath
.history
.project
.scala_dependencies
.settings
.worksheet
.DS_Store
*.class
*.tasty
*.log
*.iml
*.ipr
*.iws
.idea
meta.json
